{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/admin.html' %}
{% block base %}
    <br>
    <br>
<form method="post">
    {% csrf_token %}
    <table align="center">

        <tr>
            <td>Druation</td>
            <td><input type="text" required name="duration"></td>
        </tr>
        <tr>
            <td>Reward %</td>
            <td><input type="text" required name="per"></td>
        </tr>
        <tr>
            <td>type</td>
            <td><select name="type">
                <option value="Fixed">Fixed</option>
                <option value="Variable">Variable</option>
            </select></td>
        </tr>
        <tr>
            <td>Plan</td>
            <td><input type="text" required name="plan"></td>
        </tr>


        <tr>
            <td></td>

            <td><input type="submit" value="submit"></td>
        </tr>


    </table>

</center>
</form>
{% endblock %}
{#</body>#}
{#</html>#}