{% extends 'temp/admin.html' %}
{% block base %}
    <br>
    <br>

<form method="post" style="">
    {% csrf_token %}
    <table align="center">
{#        <h1 align="center">Post_price</h1>#}
        <tr>
            <td>Gram Price</td>
            <td><input type="text" name="amund" value="{{ gm }}" required=""></td>
        </tr>
        <tr>
            <td>Pavan Price</td>
            <td><input type="text" name="pamund" value="{{ pm }}" required=""></td>
        </tr>
        <tr>
            <td></td>

            <td><input type="submit" value="submit" class="btn btn-primary"></td>
        </tr>

    </table>

</form>
{% endblock %}
</body>
</html>