{% extends 'temp/admin.html' %}
{% block base %}
    <br>
    <br>
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header"style="background-color: #0c5460">
                  <h4 class="card-title" style="color: white" >UPDATE PENALTY</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                      </div>
                            <div align="center" >

<form method="post">
    {% csrf_token %}
{#    <H3></H3>#}
    <table align="center">
{#        <tr>#}
{#            <td>Type</td>#}
{#                        <td><select name="type" id="type" onchange="genratedrop();" class="form-control">#}
{#                            <option value="">--SELECT--</option>#}
{#                            <option value="fixed">Fixed</option>#}
{#                            <option value="variable">Variable</option>#}
{#                        </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#            <td>Package</td>#}
{#                        <td><select name="package" id="pack" class="form-control">#}
{#                            <option value="">--SELECT--</option>#}
{#                            <option value="fixed">Fixed</option>#}
{#                            <option value="variable">Variable</option>#}
{#                        </td>#}
{##}
{#        </tr>#}
{#        <tr>#}
{#            <td>Package</td>#}
{#            <td><input type="text" name="package" class="form-control"></td>#}
{#        </tr>#}
        <tr>
            <td>Penalty%</td>
                    <td><input type="text" name="penalty" class="form-control" value="{{ per }}"></td>

        </tr>
        <tr><td><input type="submit" value="UPDATE" class="btn-primary"></td></tr>
    </table>
</form>
{% endblock %}